window {
  padding: 12px;
  border: 3px solid transparent;
  border-radius: 12px;
  background:
    linear-gradient(transparent, transparent) padding-box,
    linear-gradient(45deg, #e05561, #4aa5f0, #f0a45d) border-box;
}
