window {
  padding: 12px;
  border: 3px solid transparent;
  border-radius: 12px;
  background:
    linear-gradient(transparent, transparent) padding-box,
    linear-gradient(45deg, #fc618d, #a3f3ff, #fce566) border-box;
}
