window {
  padding: 12px;
  border: 3px solid transparent;
  border-radius: 12px;
  background:
    linear-gradient(transparent, transparent) padding-box,
    linear-gradient(45deg, #FF5555, #BD93F9, #FFE4A3) border-box;
}
